body{
	background-color: gainsboro;
	font-family: 'Courier New', Courier, monospace;
}
#title{
	color: red;
	text-align: center;
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 10px;
}
#word-display{
	background-color:darkgray;
	height: 50px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
#word-text{
	color: white;
	padding: 5px;
	padding-left: 5%;
}
#words{
	padding-left: 2.5%;
	padding-top: 10px;
}
#form{

}
#input{
	width: 15%;
	margin-left: 42.5%;
	margin-right: 42.5%;
	margin-top: 1%;
	border-color: red;
}
#time{
	text-align: center;
	margin-top: 0;
}
/* #progress-bar{
	width: 100px;
	margin-left: 30%;
	margin-top: 2.5%;
	height: 20px;
	background-color: white;
	border-left: 0px solid green;
} */
#bar-container{
	height: 20px;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 2%;
	background-color: white;
}
#bar{
	background-color: green;
	height: 20px;
	width: 0;
}
#game-over{
	text-align: center;
}
#reset{
	width: 4%;
	margin-left: 48%;
	visibility: hidden;
}