body{
	background-color: gainsboro;
}
#title{
	color: red;
	text-align: center;
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 10px;
}
#word-display{
	background-color:darkgray;
	height: 50px;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}
#word-text{
	color: white;
	padding: 5px;
	text-align: center;
}
#input{

}
#form{
	width: 15%;
	margin-left: 42.5%;
	margin-right: 42.5%;
	margin-top: 1%;
}
#time{
	text-align: center;
	margin-top: 0;
}